# Section générale pour la configuration du serveur MySQL.
# Peut contenir des directives générales ou communes à d'autres sections.
[server]

# Section pour la configuration spécifique du serveur MySQL (mysqld).
[mysqld]

# Définit l'utilisateur sous lequel MySQL doit s'exécuter.
# L'exécution sous un utilisateur non-root renforce la sécurité.
user = mysql

# Définit le port par défaut sur lequel MySQL écoute les connexions.
# 3306 est le port standard, peut être personnalisé si nécessaire pour des raisons de sécurité.
port = 3306

# Spécifie le répertoire de base des binaires MySQL.
# Cela est utile si MySQL est installé dans un répertoire non standard.
basedir = /usr

# Spécifie où MySQL stocke les fichiers de données.
# Les données doivent être stockées de manière persistante dans un volume Docker pour éviter la perte de données.
# Bonne pratique : utiliser un volume Docker pour le stockage de `/var/lib/mysql`.
datadir = /var/lib/mysql

# Spécifie le fichier PID utilisé pour gérer le processus MySQL.
# Ce fichier aide à démarrer et arrêter MySQL correctement.
pid-file = /var/run/mysqld/mysqld.pid

# Définit le fichier socket pour les connexions locales.
# Cela améliore les performances des connexions locales par rapport à l'utilisation de connexions réseau.
socket = /var/run/mysqld/mysqld.sock

# Active les connexions réseau pour MySQL.
# Désactiver 'skip_networking' permet d'accepter les connexions réseau externes.
# Veillez à utiliser des configurations réseau sécurisées pour éviter les accès non autorisés.
skip_networking = off

# Définit la taille maximale d'un paquet de requêtes.
# Augmenter cette limite peut être nécessaire pour les opérations avec des données volumineuses comme les BLOB.
max_allowed_packet = 64M

# Spécifie l'emplacement du fichier de log des erreurs MySQL.
# Ce fichier est essentiel pour le suivi des incidents et le dépannage.
# Assurez-vous que le répertoire est monté dans un volume persistant pour conserver les logs après le redémarrage des conteneurs.
log_error = /var/log/mysql/error.log
